body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: tahoma;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(238, 219, 238) 0%);
}
.style-btn {
    width: 180px;
    height: 45px;
    outline: none;
    border: 10px;
    margin: 10px;
    border-radius: 4px;
    font-size: 20px;
    background-color: pink;
    color: #020024;
    cursor: pointer;
}
.style-btn:hover {
    background-color: rgb(240, 172, 240);
}
.titulo{
    font-family: monospace;
    color: blueviolet;
    border-width: 4px solid;
    width: 58ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(25),
    blinking 0.05s infinite step-end alternate;
}

@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blinking {
    50%{
        border-color: transparent; 
    }
 
}

.grid-1{
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    border: 20px;
}
.grid-2{
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    border: 20px;
}
.grid-3{
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    border: 20px;
}
.grid-4{
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    border: 20px;
}
.grid-5{
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    border: 20px;
}

